*{
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}
body{
    font-size: 62.5%;
    background-color: rgb(40, 40, 40);
}
/* Container geral do Header */
.headerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    /* background-color: red; */
    flex-direction: column;
}
.headerMobile{
    display: flex;
    width: 100vw;
    height: fit-content;
    align-items: center;
    border-bottom: 1px solid #80808080;
}
.navigator{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    /* background-color: blue; */
    color: white;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* margin-top: 1.6rem; */
}
.navigator ul li{
  text-decoration: none;
  list-style: none;
  color: white;
  border-bottom: 1px solid grey;
  margin-bottom: 8px;
  width: 100vw;
  text-align: center;
}
a{
  text-decoration: none;
}
/* Logo no header */
.logo{
    width: 8rem;
    margin: 3.2rem;
}
.openMenu{
    display: none;
    visibility: hidden;
}

/* Header contact-button */
.contactButton{
  width: 12rem;
  height: 2.6rem;
  font-size: 1rem;
  border: none;  
  border-radius: 4px 4px 4px 4px;
  background-color: rgb(44, 44, 255);
  color: white
}

/* Hamburguer menu MOBILE */
.nav-icon-5{
    width: 35px;
    height: 30px;
    margin: 1.6rem 1.6rem;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-5 span{
    background-color:#fff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  .nav-icon-5 span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon-5 span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
  }
  .nav-icon-5 span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .nav-icon-5:not(.open):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  }
  .nav-icon-5.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
  }
  .nav-icon-5.open span:nth-child(2){
    opacity:0;
  }
  .nav-icon-5.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }

@media (min-width: 1024px) {
    /* Menu MOBILE OFF */
    .nav-icon-5{
        display: none;
    }
    .headerContainer{
        height: 4.2rem;
        flex-direction: row;
        border-bottom: 1px solid #80808080;
        /* background-color: red; */
    }
    .headerMobile{
        border: none;
    }
    .openMenu{
        visibility: visible;
        display: flex;
    }
    .navigator{
      display: flex;
      flex-direction: row;
      align-items: center;
      /* background-color: black; */
      width: 250rem;
      height: fit-content;
      font-size: 0.8rem;
    }
    
    .navigator ul{
      display: flex;
      justify-content: center;
      /* background-color: blue; */
      width: 100%;
    }
    .navigator ul  li{
      list-style: none;
      text-decoration: none;
      color: white;
      margin-left: 5rem;
      font-weight: 500;

      border-bottom: none;
      margin-bottom: -8px;
      width: 100%;
    }
    .logo{
        position: relative;
    }
    .contactButton{
      right: 0;
      margin-right: 3.2rem;

      width: 12rem;
      height: 2.2rem;
      font-size: 0.9rem;
      border-radius: 8px 8px 8px 9px;
    }
}