body{
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.headerContainer{
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  z-index: 3;
}
.headerMobile{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100vw;
  border-bottom: 1px solid #80808050;
}
.navigator{
    background-color: #80808079;
    color: white;
    font-size: 2.2rem;
}
.navigator ul li{
  border-bottom: 1px solid #80808079;
  border-top: 1px solid #80808079;
  padding: .6rem;
  width: 100vw;
  text-align: center;
  transition: ease 300ms;
  cursor: pointer;
}
.navigator ul li:hover{
  color: #0066ff;
  transition: ease-out 300ms;
}
.logo{
    width: 14rem;
    position: relative;
    cursor: pointer;
}
.openMenu{
    display: none;
    visibility: hidden;
}
.contactButton{
  width: 100vw;
  height: 5rem;
  background-color: #0749ff;
  font-weight: 450;
  transition: ease 400ms ;
}
.contactButton:hover{
  transition: ease 400ms ;
  background-color: rgb(0, 81, 255);
  cursor: pointer;
  border: 2px solid white;
}
.wappBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  background-color: green;
  position: fixed;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
  transition: ease 300ms;
}
.wappBox:hover{
  transition: ease 300ms;
  background-color: rgb(5, 209, 5);
}
.wapp{
  width: 3.2rem;
}
/* Hamburguer menu MOBILE */
.nav-icon-5{
    width: 35px;
    height: 30px;
    margin: 1.6rem 1.6rem;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-5 span{
    background-color:#fff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  .nav-icon-5 span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon-5 span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
  }
  .nav-icon-5 span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .nav-icon-5:not(.open):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  }
  .nav-icon-5.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
  }
  .nav-icon-5.open span:nth-child(2){
    opacity:0;
  }
  .nav-icon-5.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }

@media (min-width: 1024px) {
  .nav-icon-5{
    display: none;
  }
  .headerContainer{
    position: fixed;
    top: 0;
    margin-top: 25px;
    height: 4rem;
    flex-direction: row;
  }
  .scrolled{
    animation: scroll 800ms forwards ease-out;
  }
  .unscroll{
    animation: unscroll 300ms forwards;
  }
    .scrolled .contactButton{
      background-color: blue;
    }
    .scrolled .contactButton:hover{
      background-color: rgb(66, 66, 66);
    }

    @keyframes scroll {
      20%{
        margin-top: -1px;
      }
      50%{
        background-color: rgba(0, 0, 0, 0.31);
        margin-top: -2px;
      }
      100%{
        background-color: rgb(0, 0, 0);
        margin-top: -2px;  
        transition: ease;
      }
    }
    @keyframes unscroll {
      0%{
        background-color: black;
        margin-top: -2px;
      }
      100%{
        /* background-color: rgba(0, 0, 0, 0); */
        margin-top: 25px;  
      }
    }
    .headerMobile{
        flex-direction: row;
        justify-content: flex-start;
        border: none;
    }
    .openMenu{
        visibility: visible;
    }
    .navigator{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 90rem;
      height: fit-content;
      font-size: 1.6rem;
      margin-right: 8.2rem;
    }
    .navigator ul{
      display: flex;
      width: fit-content;
      margin-right: 0.16rem;
    }
    .navigator ul  li{
      list-style: none;
      border: none;
      text-decoration: none;
      font-weight: 500;
      padding: 0rem;

      margin-left: 2.1rem;
      border-bottom: none;
      margin-bottom: -8px;
      width: fit-content;
      /* background-color: red; */
    }
    .logo{
      width: 8rem;
      margin-left: 82px;
        position: relative;
    }
    .contactButton{
      /* position: relative; */
      right: 0;
      /* margin-right: 3.2rem; */
      margin-top: 0;

      width: 12rem;
      height: 2.2rem;
      font-size: 1.6rem;
      border-radius: 8px 8px 8px 8px;
      /* visibility: hidden; */
    }
}